.boton-contenedor{
    height: 60px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.operador{
    background-color: #02ECFF;
}

.boton-contenedor:hover{
  background-color: #5a01a7;
}

.operador:hover{
  background-color: #ff6600;
}

@media (min-width: 371px) and (max-width: 767px){
  .boton-contenedor{
    height: 50px;
  }
  }