.App{
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(40, 39, 39);
    display: flex;
    flex-wrap: wrap;
    font-family: Lato, sans-serif;
    justify-content: center;
    align-items: center;
}


.contenedor-calculadora{
    width: 400px;
    height: 500px;
    padding: 14px;
    background-color: #1979e6;
    border-radius: 20px;
    border: 5px solid white;
}

.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* _______________________________________DISPOSITIVOS 371PX/767PX WIDTH >= _______________________________________ */


@media (min-width: 371px) and (max-width: 767px){
.contenedor-calculadora{
    width: 300px;
    height: 450px;
 }

 .App{
    padding-top: 2px;
 }
}